@tailwind base;
@tailwind components;  
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;  /* Chrome, Safari and Opera */
  }
}

/* Base reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  max-height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Lunasima", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

/* Custom animations */
@keyframes rotate {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-ticker {
  animation: ticker 40s linear infinite;
}

.animate-ticker:hover {
  animation-play-state: paused;
}
